<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961571618026-ova8unfl5d211vtsbfrihbc90djl5fnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961571618026-ova8unfl5d211vtsbfrihbc90djl5fnn</string>
	<key>API_KEY</key>
	<string>AIzaSyC5305mU3bn2HCu9zqGzzSOKLuXBA3PPwk</string>
	<key>GCM_SENDER_ID</key>
	<string>961571618026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.searchMassage</string>
	<key>PROJECT_ID</key>
	<string>basket-ball-app</string>
	<key>STORAGE_BUCKET</key>
	<string>basket-ball-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961571618026:ios:1faff1226bbad08ddb2b93</string>
</dict>
</plist>